.container {

    display: flex;
    justify-content: space-between;
   
 
}
.profile{

    height: 95vh;
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}

.profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;


}

.profile span{

    margin: 10px;
}

.profile span:nth-child(3){

    color: green;
    animation: inProgress 1s ease alternate infinite;
}

@keyframes inProgress {
    
    from{

        opacity: 0;
    }

    to{

        opacity: 1;
    }
}

.appointment{
    background-color: #00adb5;
    border: none;
    padding: 10px;
    color: #fff;
    width: 150px;
    cursor: pointer;
}

.drugs{

    margin: 20px;
    background-color: #00adb5;
    border: none;
    padding: 10px;
    color: #fff;
    width: 150px;
    cursor: pointer;
}

.logout{

    margin: 20px;
    background-color: #d1411e;
    border: none;
    padding: 10px;
    color: #fff;
    width: 150px;
    cursor: pointer;
}

.feeds{
    margin-top: 20px;
}

.feeds-item{

   background-color: #fff;
   padding: 20px;
margin: 20px;
   width: 100%;
   border-radius: 5px;
   height: 50px;
  
}
.charts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 5px;
}

.pie {
  height: 250px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}

.line {
  height: 250px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}
