/* You can add global styles to this file, and also import other style files */
html{

    box-sizing: border-box;
}

body{

    background-color: #e0e5ef;
    height: 100vh;
}

#gradient-0 stop{

    stop-color: #506ef9;

}

#gradient-0 stop[offset="0"]{

    stop-opacity: 0.25;
}

#gradient-0 stop[offset="1"]{

    stop-opacity: 0;
}  

.highlights-color-0{

    fill: #506ef9;
    stroke:#506ef9
}

.highlights-color-0 .highlightscharts-area{

    fill-opacity: 1;
    fill: url(#gradient-0);
}